* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#root {
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}